.profile {
    padding: 36px 0 48px 0;
    display: grid;
    grid-template-columns: 167px minmax(min-content, 336px) minmax(min-content, 394px);
    grid-template-rows: 64px 64px;
    border-top: 1px solid #545454;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 120px 48px 28px 86px;
        border-top: none;
        padding: 70px 0 48px 0;
    }
}
