.popup-form__close-btn {
    background-image: url(../../../images/close_btn.svg);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -80px;
    top: -114px;
}
.popup-form__close-btn:hover {
    opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup-form__close-btn {
        right: -23px;
        top: -135px;
    }
}
