.profile__edit {
   width: 26px;
   height: 26px;
   position: absolute;
   left: 47px;
   top: 47px;
   visibility: hidden;
   z-index: 1;
   grid-column: 1;
   grid-row: 1 / 2;
   transition: opacity .5s linear;
}
.profile__image:hover + .profile__edit {
    visibility: visible;
}