.element-item__like_active {
    background-image: url(../../../../images/like_active.svg);
    width: 22px;
    height: 19px;
    grid-row: 2;
    grid-column: 1;
    margin: 30px 30px 0 0;
    justify-self: right;
    border: none;
    background-color: transparent;
}
.element-item__like_active:hover {
    opacity: 0.6;
}