.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: opacity .5s linear;
}
.profile__image:hover {
    opacity: 0.2;
}