.profile__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / 2;
    position: relative;
    cursor: pointer;
    z-index: 2;
    transition: opacity .5s linear;
}
.profile__image:hover {
    opacity: 0.2;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile__image {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }
}